# python artifacts
__pycache__/

# PyCharm artifacts
.idea/

# pyenv files
.python-version

# pytest artifacts
.cache/

# unit test suite artifacts
.test_db/

# perf test artifacts (default)
.perf_dbs/

# Jupyter Notebook artifacts
.ipynb_checkpoints/
