# python artifacts
__pycache__/

# PyCharm artifacts
.idea/

# pyenv files
.python-version

# pytest artifacts
.cache/

# ETL test suite artifacts
.test_database/

# Jupyter Notebook artifacts
.ipynb_checkpoints/
